<h3>List Category</h3>

<lib-paginator
  [currentpage]="currentpage"
  [pageCount]="pageCount"
  (currentpageChange)="gotopage($event)"
>
</lib-paginator>

<table class="striped numbered">
  <tr>
    <th></th>
    <th>updated</th>
    <th>code</th>
    <th>name</th>
    <th>Action <button (click)="create()">Create</button></th>
  </tr>
  <tr *ngFor="let item of list; trackBy: trackByFn">
    <td></td>
    <td>{{ item.updated | datetime }}</td>
    <td>{{ item.code }}</td>
    <td>{{ item.name }}</td>
    <td>
      <a [routerLink]="['../..', 'edit', modelname, item.id]">Edit</a>
      <button (click)="remove(item.id)">Remove</button>
    </td>
  </tr>
</table>
