<h3>Edit Medication</h3>

<div>
  <button (click)="save(item)">Save</button>
  <button (click)="back()">Back</button>
</div>

<hr />

<div class="form">
  <div>
    <div>id</div>
    <div>{{ item.id }}</div>
  </div>
  <div>
    <div>created</div>
    <div>{{ item.created | datetime }}</div>
  </div>
  <div>
    <div>updated</div>
    <div>{{ item.updated | datetime }}</div>
  </div>
  <div>
    <div>version</div>
    <div>{{ item.version }}</div>
  </div>
  <div>
    <div>active</div>
    <div><input [(ngModel)]="item.active" type="checkbox" /></div>
  </div>
  <div>
    <div>sort</div>
    <input [(ngModel)]="item.sort" type="number" />
  </div>
  <div>
    <div>code</div>
    <input [(ngModel)]="item.code" />
  </div>
  <div>
    <div>name</div>
    <input [(ngModel)]="item.name" />
  </div>
  <div>
    <div>frequency</div>
    <select [(ngModel)]="item.frequency">
      <option>{{ item.frequency }}</option>
      <option></option>
      <option>Monthly</option>
      <option>Bimestrially</option>
      <option>0-2-6-Monthly</option>
      <option>Quarterly</option>
      <option>Yearly</option>
    </select>
  </div>
</div>

<!-- <pre>{{ item | json }}</pre> -->
